{% extends "crud/base.html" %}
{% block content %}
<style>
    .original-image img,
    .marked-image img {
        width: 500px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .results-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .result-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%; /* 調整寬度，允許內容換行 */
    }
    
    .original-image, .marked-image {
        flex: 1;
        padding: 10px;
    }
    
    .result-details {
        flex-grow: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .suggestions {
        flex-grow: 1;
        padding: 10px;
        min-width: 200px;
        max-width: 300px;
        word-wrap: break-word;
        text-align: left;
    }

    .suggestions ul {
        list-style-type: disc; /* 使用圓點作為列表項符號 */
        margin: 0;
        padding-left: 20px; /* 列表左邊距 */
    }

    .suggestions ul li {
        margin-bottom: 5px; /* 列表項之間的間距 */
    }
</style>

<div>
    <h2>分析結果</h2>
    <div class="result-item">
        <!-- 原始圖片 -->
        <div class="original-image">
            <img src="{{ url_for('crud.static', filename=original_image) }}" alt="原始圖片">
        </div>

        <!-- 標記後圖片 -->
        <div class="marked-image">
            <img src="{{ url_for('crud.static', filename=marked_image) }}" alt="標記後的圖片">
        </div>

        <!-- 詳細信息 -->
        <div class="result-details">
            <p>位置: {{ location }}</p>
            <div class='suggestions'>
                <h4>建議：</h4>
                <ul>
                    {% for tag in suggestions %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}